.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;

}
ul{
    display: flex;
    gap:30px;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
}
.header-section{
  justify-items: center;
  align-self: center;
  align-items: center;
  background-image: url('./assets/hero-bg.png');
  background-repeat:  no-repeat;
  background-size:  cover;
  background-position: center;
  padding:100px;
}
.header-circle{
    background-image: url('./assets/hero-circle.png');
    width:300px;
    height:300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-div{
    text-align: center;
}
.header-heading{
    color:white;
    font-size: 30px;
    font-weight: 600;
}
.header-para{
    color:white;
    font-size:13px;
    font-weight:200px;
}
.primary-button{
    padding:10px;
    border-radius: 30px;
    background: linear-gradient(135deg,#F7E93F,#FB09B4,#9100F8);
}
.primary-color{
    color: white;
}
.primary-color-2{
    color:#00FF88;
}
.header-button{
 padding:10px;
 border-color: #00FF88;
    border-radius: 30px;
    background-color: transparent;
}

.podcast-section{
    padding:100px;
    background: linear-gradient(#000000,#1A0B2E,#230E3D);
    text-align: center;
}
.podcast-div{
    display: flex;
    gap:20px;
    justify-self: center;
}
.podcast-head{
    font-size: 30px;
    font-weight: 600;
}
.podcast-para{
    font-size: 10px;
}
.choose-section{
    text-align: center;
    justify-self: center;
    padding:100px;
    background-color: rgba(26, 11, 46, 1);;
}
.choose-div{
    align-content: center;
    background-color: #230E3D;
     border: 1px solid #230E3D;
    border-radius: 20px;
    padding:30px;
}
.choose-div-total{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
   
}
.tall{
    grid-row: span 2;
}
.wide{
    grid-column:span 2;
}
.small{
    grid-row:span 1;
}
.featured-section{
    background-color: #1A0B2E;
    padding:50px;
    text-align: center;
}
.featured-div-all{
    justify-self: center;
    display: flex;
     gap:50px;
}
.featured-div{
    border-radius: 40px;
    justify-self: center;
    width:300px;
    background-color: #230E3D;
}
iframe{
    border-radius: 40px;;
}
.host-section{
   background-color: #1A0B2E;
    padding: 100px;
};

  .host-section .host-head{
    width: 100%;
    display: flex;
 justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
.social-icons{
    gap:10px;
    display: flex;
}
.social-icons-div{
    width:40px;
    height:40px;
    align-content: center;
    text-align: center;
    border:1px solid rgba(83, 60, 114, 1);
    border-radius: 100%;
}
.host-div{
    align-items: center;
    background-color: #230E3D;
    display: flex;
}
.host-img-div{
    padding-right:20px;
}